
header
{
	font-size:26;
	width:100%;
	height:50%;
	background-image:url("images.jpg");
	
}
#map
{
	height: 50%;
}
#html, #body {
        height: 50%;
        margin: 0;
        padding: 0;
      }
.topnav
{
	background-color:black;
	color:#FFFFFF;
	text-align:center;
	height:5%;
	margin-bottom:25px;
}
.topnav a{
	color:#F9E79F;
}
#section1
{
	border-bottom-style:solid;
}
#aside1
{
	float:right;
	width:15%;
	height:50%;
	background-color:#F2F3F4;
	color:#17202A;
	height:100%;
}


#section2
{
	
	color:#17202A;
	border-bottom-style:solid;
}
#article1
{
	background-color:#FFFFFF;
	margin-top:0px;
	
}
#article2
{
	background-color:#FFFFFF;
}
#article3
{
	background-color:#FFFFFF;
}